@model IEnumerable<JupilerLeague.Models.TeamViewModel>
@{
    ViewData["Title"] = "League Table";
}

<style>
    body {
        font-family: 'Book Antiqua'; 
        background-color: #f0f0f0; 
        margin: 0;
    }

    h3 {
        color: black;
        font-family: 'Berlin Sans FB', sans-serif;
        text-align: center;
        margin-bottom: 10px; 
    }

    .table {
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
        background-color: white;
        border-collapse: separate;
        border-spacing: 0;
        border-radius: 15px;
        overflow: hidden;
    }

        .table th {
            background-color: #b71c1c;
            color: white;
            border-bottom: 1px solid #dee2e6;
        }

        .table td {
            border-right: none; 
            border-left: none; 
            border-top: none; 
            border-bottom: 1px solid #dee2e6;
        }


    .table-hover tbody tr:hover {
        background-color: #ffeeba;
    }

    .thead-dark th {
        border-color: #b71c1c;
    }

    .table-responsive {
        margin-bottom: 0;
    }

    .expanding-section {
        display: flex;
        justify-content: space-evenly;
        margin-top: 20px;
        margin-bottom: 15px; 
    }

        .expanding-section h5 {
            cursor: pointer;
            margin: 0;
            display: flex;
            align-items: center;
            font-weight: bold;
        }


    .arrow {
        border: solid black;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 3px;
        margin-left: 8px;
        margin-bottom: 4px;
    }

    .down {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }

    .logo-cell {
        width: 50px; 
        text-align: center; 
    }

    .position-cell {
        width: 30px;
        text-align: center;
    }

    .team-row {
        cursor: pointer;
    }

    .collapse:not(.show) {
        display: none;
    }

    .collapsing {
        position: relative;
        height: 0;
        overflow: hidden;
        transition: height 0.35s ease;
    }

    .gold-text {
        color: mediumseagreen 
    }

    .red-text {
        color: #ff0000; 
    }

</style>


<div class="expanding-section">
    <h5>Jupiler Pro League of Belgium 2022/2023 <i class="arrow down"></i></h5>
    <h5>Regular Season <i class="arrow down"></i></h5>
    <div class="dropdown">
        <h5>
            Total <i class="arrow down"></i>
        </h5>
    </div>
</div>


<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th class="position-cell">#</th>
                <th class="logo-cell"></th>
                <th>Team</th>
                <th>MP</th>
                <th>W</th>
                <th>D</th>
                <th>L</th>
                <th>GD</th>
                <th>Pts</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var team in Model)
            {
                <tr class="team-row" data-bs-toggle="collapse" data-bs-target="#matches-@team.Id" aria-expanded="false" aria-controls="matches-@team.Id">
                    <td class="@(team.Position <= 3 ? "gold-text" : (team.Position > Model.Count() - 3 ? "red-text" : ""))">@team.Position</td>
                    <td><img src="@team.LogoPath" alt="Logo" style="width: auto; max-height: 28px;" /></td>
                    <td>@team.Name</td>
                    <td>@team.MatchesPlayed</td>
                    <td>@team.Win</td>
                    <td>@team.Draw</td>
                    <td>@team.Lose</td>
                    <td>@team.GoalDifference</td>
                    <td>@team.Points</td>
                </tr>
                <tr id="matches-@team.Id" class="collapse">
                    <td colspan="9">
                        <p style="font-weight: bold; font-size: 18px; text-align: center; margin: 0;">Kolejka 1</p>
                        <div style="text-align: center; font-size: 20px;">
                            <img src="@team.Kolejka1Herb" alt="Herb" style="max-height: 25px;" />
                            @team.Kolejka1Nazwa
                            <div class="text-center" style="display: inline-block; margin: 0 5px;">
                                <div style="background-color: #b71c1c; color: white; border-radius: 8px; padding: 3px 8px; font-size: 20px; display: inline-block;">
                                    @team.Wynik1:@team.Wynik2
                                </div>
                            </div>
                            <img src="@team.Kolejka1Herb2" alt="Herb2" style="max-height: 25px;" />
                            @team.Kolejka1Nazwa2
                        </div>

                        <div style="margin-top: 16px;"></div>

                        <p style="font-weight: bold; text-align: center; font-size: 18px; margin: 0;">Kolejka 2</p>
                        <div style="text-align: center; font-size: 20px;">
                            <img src="@team.Kolejka2Herb" alt="Herb" style="max-height: 25px;" />
                            @team.Kolejka2Nazwa
                            <div class="text-center" style="display: inline-block; margin: 0 5px;">
                                <div style="background-color: #b71c1c; color: white; border-radius: 8px; padding: 3px 8px; font-size: 20px; display: inline-block;">
                                    @team.Wynik3:@team.Wynik4
                                </div>
                            </div>
                            <img src="@team.Kolejka2Herb2" alt="Herb2" style="max-height: 25px;" />
                            @team.Kolejka2Nazwa2
                        </div>
                    </td>
                </tr>

            }
        </tbody>
    </table>
</div>
